.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px black;
    border: 1px solid black;
    width: 300px;
    height: 420px;
}

.products img {
    width: 150px;
    height: 200px;
    border: 1px solid rgb(223, 219, 219);
    border-radius: 15px;
    padding: 30px 40px;
    margin: 30px 40px 5px;
    
}

.description {
    padding: 0px 40px ;
    display: flex;
    flex-direction: column;
}

.description h3 {
    margin: 0px;
    padding: 0px;
}

.description p {
    margin: 5px;
}
